*.iml
*.apk
*.class
*.db
*.log
*.dex
*.pro
*.yml
*~

bin/
build/
gen/
proguard/
androidTest/
test/
gradle/

.idea/
.externalNativeBuild/
.gradle/

local.properties
gradle.properties
gradlew
gradlew.bat
.DS_Store

app/.classpath
app/.project
.project
.settings/org.eclipse.buildship.core.prefs
app/.settings/org.eclipse.buildship.core.prefs